<h1 class="mt-4">Dashboard-Admin</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<h2>Current active sessions:</h2>

<% let userId; 
for(let session of Object.keys(sessions)) { 
    userId=JSON.parse(sessions[session])["passport"]["user"]; 
%>
    <p>
        SessionID <%= session %> <br>
        UserID: <%= userId %>
    </p>
    <a href="/admin/revoke/<%= session %>">Revoke Session</a>
    <br>
<% } %>

<a href="/auth/logout" class="btn btn-secondary">Logout</a>